<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Subir Imagen</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({
                pageLanguage: 'es',
                includedLanguages: 'en,es,fr,de,it',
                layout: google.translate.TranslateElement.InlineLayout.SIMPLE
            }, 'google_translate_element');
        }
    </script>
    <script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</head>
<body>
    <div id="google_translate_element" style="position: absolute; top: 10px; right: 10px;"></div>

    <h1>Subir Imagen para Extraer Texto</h1>

    <form action="/upload" method="POST" enctype="multipart/form-data">
        <label for="access_token">Introduce tu token de acceso:</label>
        <input type="text" id="access_token" name="access_token" required><br><br>

        <!-- Nuevo campo de entrada para tomar fotos o seleccionar imágenes -->
        <label for="file">Selecciona hasta 10 imágenes (JPG, PNG) o usa la cámara:</label>
        <input type="file" id="file" name="file" accept="image/*" multiple capture="camera" required><br><br>

        <input type="submit" value="Subir Imágenes">
    </form>
</body>
</html>
